* {
  margin: 0;
  padding: 0;
}
.box {
  /* 给body内部的元素添加高度100%是无效的 */
  /* height: 100%; */
  height: 100vh;
  background-color: antiquewhite;
}
body {
  /* body默认的高度为0 */
  height: 100%;
}
html {
  /* 给html高度100%，他会去找游览器 */
  /* 默认高度为0 */
  height: 100%;
}
